.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.card {
  width: 650px;
  background: #3d3d3d;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 18px #ff8800;
  animation: fadeIn 0.4s ease-in-out;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #ff8800;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
}

.table thead {
  background-color: #ff8800;
  color: black;
}

.table th {
  padding: 12px 15px;
  font-size: 16px;
  text-align: left;
}

.table tbody td {
  padding: 12px 15px;
  font-size: 16px;
  border-bottom: 1px solid #d8dbe0;
}

tbody tr:hover {
  background-color: #f1f7ff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
