.conteiner {
  width: 500px;
  max-height: 1200px;
  border: 1px solid #ff8800;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.item {
  width: 370px;
  height: 50px;
  background-color: #ff8800;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: black;
}